.navbar{
    border-bottom:1px solid #c9c9c9;
    margin:10px;
}

.card{
	margin:20px;
	padding:20px;
	width:70%;
	align-items:center;

	border:1px solid #c9c9c9;
	border-radius:10px;
	text-align: left;
}

.title{
	font-size:25px;
}
.content{
	font-family: 'Koulen', cursive;
}
input{
	width:70%;
	font-family: sans-serif;
	border-radius: 5px;
	font-size:20px;
	border:1px  solid #c7c7c7;
	padding-left:2px;


	padding:3px;
}