<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Show All</title>
    <link rel="icon" href="/static/logodark.png" id="icon"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/theme.js"></script>
    <link rel="stylesheet" href="/static/app.css">
    
</head>
<body>
  <center><img src="/static/navbar.png"  onclick="window.location.assign('/')" width="300"></center>
  <center><img src="/static/404.png" width="400"></center>
  <center><h1>Requested url is not found on this server</h1></center>
  
</body>
</html>
